<% content_for :title do %>
View Messages
<% end %>

<% content_for :header do %>
<% end %>

<% content_for :content do %>
<h1 class="h1fullwidth">Checkout</h1>
<div class="topgradientdiv">
  <%= @unreadmessages %>
</div>
<% end %>