<% content_for :title do %>
View Messages
<% end %>

<% content_for :header do %>
<% end %>

<% content_for :content do %>
<h1 class="h1fullwidth">Manage Messages</h1>
<div class="topgradientdiv">
  <div id="unreplied">
    <% if @unrepliedmessages == nil %>
    <p>No messages to show</p>
    <% else %>
      <div class="name">
        <h3>Name</h3>
      </div>
      <div class="message">
        <h3>Message</h3>
      </div>
      <div class="action">
        <h3>Reply Email</h3>
      </div>
      <% @unrepliedmessages.each do |unreplied| %>
        <div class="eachmsg">
          <div class="name">
            <%= unreplied.name %>
          </div>
          <div class="message">
            <%= unreplied.message %>
          </div>
          <div class="email">
            <%= unreplied.email %>s
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<% end %>