<% content_for :header do %>
<% end %>

<% content_for :content do %>

<div id="accountcont">
    
<h1>Account Details</h1>
<table>
    <tr>
        <td>Name</td>
        <td></td>
    </tr>
    <tr>
        <td>Email</td>
        <td></td>
    </tr>
    <tr>
        <td>Password</td>
        <td></td>
    </tr>
    <tr>
        <td>Delivery Address</td>
        <td></td>
    </tr>
    <tr>
        <td>Billing Details</td>
        <td></td>
    </tr>
    
</table>

</div>

<% end %>