<% content_for :header do %>
<% end %>

<% content_for :content do %>
<div id="cartcont">
<h1>Carts#index</h1>

<div id="cartItem">
  <div id="cartTitle">
    Title
  </div>
  <div id="cartQuantity">
    Quantity
  </div>
  <div id="cartPrice">
    €Price
  </div>
</div>

</div>
<% end %>