<% content_for :header do %>
  <div id="aboutheader">
    <img src="assets/site/boutique2.gif" alt="Boutique" id="boutique2" />
    <h1>About Us</h1>
  </div>
<% end %>

<% content_for :content do %>

<div id="aboutcont">
  
<h1>IN Fashion</h1>

<p>Epicness is born from the passion and spirit of cofounders Izabella and Niall (I-N Fashion).</p>

<p>
    Why are we so different? Because we don't give a damn about fashion. That's what makes us stronger, we focus on what's really
    important: <i>grades</i>. We are different because we passionately pursue knowledge and high marks to achieve something even more
    glorious than grades: <i>a well-paying job</i>. 
</p>

<h3 class="quote">"We deliver great quality service, very reluctantly." - Honest Employee</h3>

<p>
  Our team is driven to deliver a project that is creative and of high quality. 
  Motivated by our passion for good grades, this site has many features, including:
</p>
<ul>
    <li>
      A fully implemented shopping cart with full-basic functionality
    </li>
    <li>
      A login system
    </li>
    <li>
      Recommendations based on similar products
    </li>
    <li>
      Pretty graphics
    </li>
    <li>
      And most importantly -- Products
    </li>
</ul>

<h3 class="quote">"I just want a good grade" - Honest Student</h3>

<p>
  For the past 3 months we have been giving up our social lives in order to get a working site up that has all the functionality needed for full marks. 
  Along the way we learned many things:
</p>

<div id="leftdiv">
  <h2>Izabella Szabo</h2>
  <p>Title</p>
  <p>This section really needs to be filled up with some lorem ipsum.</p>
  <p>
    Vivamus imperdiet mauris non eros lobortis, nec suscipit urna ultrices. Nulla vel rutrum sem. Ut vulputate aliquam pretium. 
    Vestibulum augue quam, tempus facilisis erat id, fermentum eleifend velit. Proin eget nibh turpis. Maecenas lobortis, eros 
    eget maximus venenatis, arcu nulla tempor urna, eu euismod arcu eros in erat. Nunc tempor orci non lacus ultrices, quis 
    imperdiet erat varius. Mauris mauris odio, maximus quis sapien vel, tincidunt pellentesque sem. Suspendisse nec imperdiet nulla. 
  </p>
  <p>There we go!</p>
</div>

<div id="rightdiv">
  <h2>Niall Maguire</h2>
  <p>Title</p>
  <p>Proin eget nibh turpis.</p>
  <p>
    Vivamus imperdiet mauris non eros lobortis, nec suscipit urna ultrices. Nulla vel rutrum sem. Ut vulputate aliquam pretium. 
    Vestibulum augue quam, tempus facilisis erat id, fermentum eleifend velit. Proin eget nibh turpis. Maecenas lobortis, eros 
    eget maximus venenatis, arcu nulla tempor urna, eu euismod arcu eros in erat. Nunc tempor orci non lacus ultrices, quis 
    imperdiet erat varius. Mauris mauris odio, maximus quis sapien vel, tincidunt pellentesque sem. Suspendisse nec imperdiet nulla. 
  </p>
  <p>Even more Stuff!</p>
</div>
</div>
<% end %>  
  

