<% content_for :header do %>
<% end %>

<% content_for :content do %>

<div id="homecontent">

<img src="assets/site/spring.jpg" alt="product" />


</div>

<div id="offers">
  <h3>Popular this week</h3>
  <div class="offerscol">
    Offer 1<br/>
    Loop through newest products
  </div>
  
  <div class="offerscol">
    Offer 2
  </div>
  
  <div class="offerscol">
    Offer 3
  </div>
  
  <div class="offerscol">
    Offer 4
  </div>
</div>

<% end %>
