<% content_for :header do %>
  <h1>Header</h1>
<% end %>

<% content_for :content do %>

<div id="homecontent">
<h1>Home</h1>
<p>So I need some content now...</p>
</div>

<div id="offers">
  <div class="offerscol">
    Offer 1
  </div>
  
  <div class="offerscol">
    Offer 2
  </div>
  
  <div class="offerscol">
    Offer 3
  </div>
  
  <div class="offerscol">
    Offer 4
  </div>
</div>

<% end %>
