<% content_for :header do %>
<% end %>

<% content_for :content do %>

<div id="homecontent">

<div class="homeimgtext" >
<a href="womens"><img src="/assets/site/women_header.jpg" alt="womens" /></a>
<h2>Shop Women's &#10147;</h2>
</div>

<div class="homeimgtext">
<a href="mens"><img src="/assets/site/mensfashion.jpeg" alt="mens" /></a>
<h2>Shop Men's &#10147;</h2>
</div>

<div class="homeimgtext">
<a href="sport"><img src="/assets/site/sportswear_header.jpg" alt="Sportswear"/></a>
<h2>Shop Sportswear &#10147;</h2>
</div>

<div id="offers">
  <h2>Popular this week</h2>
  <table id="productsTable">
    <col width="23%" />
    <col width="23%" />
    <col width="23%" />
    <col width="23%" />
 
 <% @fresh.each_with_index do |product, index| %>
  <% if index % 4 == 0 %>
   <tr>
  <% end %>
   <td>
    <div class="eachproduct">
     <%= link_to image_tag(product.image_url, :class => "productsimg"), product %>
     <h3 class="title"><%= link_to product.Title, product %></h3>
    </div>
   </td>
   <% if index % 4 == 3 %>
    </tr>
   <% end %>
 <% end %>
 </table>
</div>

</div>
<% end %>
