<% content_for :title do %>
Thank you
<% end %>

<% content_for :header do %>
<% end %>

<% content_for :content do %>
<h1 class="h1fullwidth">Your message has been sent</h1>
<div class="topgradientdiv">
<p>Thank you for your query. Our offices always reply within 2 working days.</p>
</div>
<% end %>