<% content_for :title do %>
Thank you
<% end %>

<% content_for :header do %>
<% end %>

<% content_for :content do %>
<h2 id="contactThanksh2">Your message has been sent</h2>
<div id="contactThanks">
<p>Thank you for your query. Our offices always reply within 2 working days.</p>
</div>
<% end %>