#unread {
  border-bottom: solid 1px #000;
  float: left;
  width: 100%;
}

#unreplied {
  float: left;
  width: 100%;
}

.name {
  width: 20%;
  float: left;
}

.message {
  width: 60%;
  float: left;
}

.action {
  width: 20%;
  float: left;
}