/* Checkout Page */
#checkoutcont {
  padding-right: 1%;
  padding-left: 1%;
  padding-bottom: 1%;
  width: 98%;
  float: left;
  border-top: solid 1px #000;
  background: linear-gradient(#fb7142 3%, #ffffff 15%);
}

#checkouth1 {
  padding-left: 2%;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 1%;
}

#checkoutcont h2 {
  color: #761f31;
  margin-top: 1%;
  text-align: center;
}

#checkoutform input, #textarea {
  border: solid 1px #fb7142;
  outline: none;
  background: #fff;
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
  font-size: 1em;
  padding: 3px;
  margin-bottom: 3%;
}

#textarea {
  border-radius: 0px;
}

#checkoutform input:hover {
  box-shadow: 0px 0px 1px 1px #fb7142;
}

#submitorder input {
  margin-top: 3%;
  text-decoration: none;
  color: #761f31;
  border: solid 1px #999;
  background: #fb7142;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  font-family: 'Lobster', Georgia, Times, serif;
  margin-right: auto;
  margin-left: auto;
  width: 65%;
}

#submitorder input:hover {
  cursor: pointer;
  box-shadow: 0px 0px 2px 1px #fb7142;
}

#link {
  color: #000;
  font-family: 'Lobster', Georgia, Times, serif;
  color: #761f31;
}

#subtotallbl {
  width: 50%;
  float: left;
}

#subtotalcost {
  width: 50%;
  float: left;
  text-align: right;
}

#shippinglbl {
  width: 50%;
  float: left;
}

#shippingcost {
  width: 50%;
  float: left;
  text-align: right;
}

#totalcost {
  width: 100%;
  float: left;
  text-align: center;
  font-size: 1.4em;
  border-bottom: solid 1px #000;
  margin-bottom: 5%;
  margin-top: 5%;
}

#comments {
  border-bottom: solid 1px #000;
  margin-bottom: 5%;
}

#submitorder {
  text-align: center;
}

/* Thank You Page */
#thankscont {
  float: left;
  width: 98%;
  margin-top: 0px;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  border-top: solid 1px #000;
  background: linear-gradient(#fb7142 1%, #ffffff 10%);
}

#thanksconth2 {
  color: #761f31;
  padding-left: 2%;
  margin-bottom: 5px;
}

/* Cart Index Page */
#cartcont {
  padding: 1%;
}

#cartItem {
  width: 100%;
  float: left;
  border-bottom: solid 1px #999;
}

#cartTitle {
  width: 60%;
  float: left;
}

#cartQuantity {
  width: 20%;
  float: left;
}

#cartPrice {
  width: 20%;
  float: left;
}

@media only screen and (max-width: 1000px) {
  /* Checkout Page */
  #checkoutcont {
    background: linear-gradient(to right, #fb7142 5%, #fff 30%);
  }
  
}


/* Cart Index Page */
#cartcont {
  padding: 1%;
}

#cartItem {
  width: 100%;
  float: left;
  border-bottom: solid 1px #999;
}

#cartTitle {
  width: 60%;
  float: left;
}

#cartQuantity {
  width: 20%;
  float: left;
}

#cartPrice {
  width: 20%;
  float: left;
}
