/* Products Page */
#search {
  width: 99%;
  text-align: right;
  padding-right: 1%;
  padding-bottom: 1%;
  padding-top: 1%;
}

#searchbar {
  border-radius: 15px;
  border: solid 1px #999;
  cursor: text;
  color: #fff;
  padding-right: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 25px;
  background: url("/assets/site/search.png") no-repeat 0px 3px;
  outline: none;
}

#search input:focus {
  border: solid 1px #999;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 2px #999;
}

#refine {
  float: left;
  width: 13%;
  margin: 0.5%;
}

#refinecont {
  padding: 3%;
}

#refine h3 {
  margin: 0px;
  color: #761f31; 
  border-bottom: solid 1px #999; 
  padding: 2%;
}

#refine h4{
  margin-bottom: 0px;
  margin-top: 5%;
  color: #fb7142;
}

#refinecont ul {
  padding-left: 17%;
  margin: 0px;
  text-align: left;
  list-style-type: square;
}

#refinecont a {
  color: #000;
  text-decoration: none;
}

#refinecont a:hover {
  text-decoration: underline;
  color: #761f31;
}

#products {
  float: left;
  width: 83%;
  padding-right: 1%;
  padding-left: 1%;
  overflow: auto;
}

.eachproduct {
  margin: 1%;
  width: 20%;
  float: left;
  padding: 1%;
}

.eachproduct img {
  max-width: 100%;
  border: solid 1px #999;
}

.title {
  margin: 0px;
}

.title a {
  color: #000;
  text-decoration: none;
}

.title a:hover {
  text-decoration: underline;
}
 
.functionality {
  width: 98%;
  margin: 1%;
}

.price {
  width: 35%;
  float: left;
}

.price:before {
  content: "€";
}

.addtocart a {
  width: 61%;
  float: left; 
  text-align: center;
  color: #fb7142;
  text-decoration: none;
  padding: 1%;
}

.addtocart a:hover {
  text-decoration: underline;
}

#pageno {
  width: 100%;
  float: left;
  text-align: center;
}

.currentpage a {
  text-decoration: underline;
}

/* Item Page */
#itemcont {
  padding: 1%;
}

#breadcrumbs h4 {
  margin: 0px;
  display: inline;
}

#breadcrumbs a {
  color: #000;
  text-decoration: none;
}

#breadcrumbs ul {
  padding: 0px;
  margin: 0px;
}

#breadcrumbs li {
  list-style-type: none;
  display: inline;
  margin-right: 0.5%;
}

#item {
  overflow: auto;
  width: 98%;
  padding: 1%;
}

#item h2 {
  margin-top: 0px;
  margin-bottom: 0.5%;
  color: #761f31;
}

#itemimg {
  width: 35%;
  float: left;
}

#itemimg img {
  max-width: 100%;
  border: solid 1px #999;
}

#itemdesc {
  width: 63%;
  padding-right: 1%;
  padding-left: 1%;
  float: left;
}

#itemprice {
  margin-top: 0.5%;
  margin-bottom: 1%;
}

#itemprice:before {
  content: "€";
}

#rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: left;
  margin-top: 1%;
  margin-bottom: 1%;
}

span:hover:before,
span:hover ~ span:before {
  color: #761f31;
  content: "\2605";
  position: absolute;
  cursor: pointer;
}

#rating a {
  text-decoration: none;
  color: #000;
}

#review {
  padding: 0px;
  margin: 0px;
}

#review h4 {
  display: inline;
}

#review li {
  list-style-type: none;
  display: inline;
}

#itemdesc h4 {
  margin: 0px;
}

#itemaddtocart {
  width: 25%;
  float: left;
  margin-top: 1%;
}

#itemaddtocart h4 {
  margin: 0px;
}

#itemaddtocart a {
  text-decoration: none;
  width: 100%;
  color: #761f31;
  border: solid 1px #999;
  background: #fb7142;
  float: left;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
}

.dropdown {
  width: 20%;
  border-radius: 5px;
  margin-left: 0px;
  margin-bottom: 1%;
  margin-top: 1%;
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
  outline: none;
}

.dropdown:hover {
  cursor: pointer;
}

#quantity input {
  width: 19%;
  padding-right: 0.5%;
  padding-left: 0.5%;
  border: solid 1px #999;
  border-radius: 5px;
  margin-bottom: 1%;
  margin-top: 1%;
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
  outline: none;
}

#size {
    margin-top: 1%;
}

#recommended {
  float: left;
  width: 98%;
  padding-right: 1%;
  padding-left: 1%;
}

#recommended h4 {
  margin: 1%;
  color: #fb7142;
}

@media only screen and (max-width: 1000px) {
  #refine {
    width: 99%;
  }
  
  #refinecont {
    width: 98%;
    padding: 1%;
    overflow: auto;
    border-bottom: solid 1px #999;
  }
  
  #refinecont h3 {
    padding: 1%;
  }
  
  #refinecont h4 {
    margin-top: 1%;
  }
  
  #refinecont ul {
    padding-left: 1%;
  }
  
  #refinecont li {
    margin-right: 1%;
  }
  
  #sub {
    width: 33%;
    float: left;
  }
  
  #pri {
    width: 33%;
    float: left;
  }
  
  #rate {
    width: 33%;
    float: left;
  }
  
  #products {
    width: 98%;
  }
  
  .eachproduct {
    width: 29%;
  }
  
  #itemimg {
    width: 100%;
  }
  
  #itemdesc {
    width: 98%;
  }
  
}



