#newreviewform {
  width: 80%;
  float: left;
}

#reviewimage {
  width: 20%;
  float: left;
  padding-top: 2%;
}

#reviewimage img {
  max-width: 100%;
  border: solid 1px #999;
}

#back {
  width: 49%;
  float: left;
  padding-left: 1%;
  padding-top: 0.4%;
}

#newrevbtndiv {
  width: 40.5%;
  float: left;
  text-align: right;
}