html {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	background: url("/assets/site/silk.jpg") repeat-y;
	background-size: 25% auto;
	background-color: #d4cfd3;
}

body {
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	overflow: auto;
}

header {
	width: 99.6%;
	height: 8%;
	color: #fff;
	float: left;
	position: relative;
	margin-bottom: 1%;
	border-bottom: solid 1px #000;
}

#right {
	float: left;
	width: 68%;
	height: 100%;
	font-family: 'Lobster', Georgia, Times, serif;
	text-align: right;
	padding-right: 2%;
	font-size: 1.1em;
	color: #fff;
	margin-top: 1%;
}

#right ul {
	text-align: right;
	display: inline;
	white-space: nowrap;
	padding-left: 0px;
}

#right li {
	display: inline;
	list-style: none;
	padding-left: 0%;
	padding-right: 1%;
	color: #aaa;
	font-size: 0.95em;
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
}

#right a {
	color: #fb7142;
	text-decoration: none;
	font-size: 0.95em;
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
}

#right a:hover {
	text-decoration: underline;
}

#logo {
	float: left;
	width: 30%;
	background: linear-gradient(to bottom right, #fef0ec 25%, #d4cfd3 50%);
}

#logo img {
	max-width: 70%;
	float: left;
	max-height: 250px;
}

#nav {
	width: 69.7%;
	text-align: right;
	float: left;
	font-family: 'Lobster', Georgia, Times, serif;
	margin-bottom: 0px;
	position: absolute;
	bottom: 0;
	right: 0;
}

#nav ul {
	font-family: 'Lobster', Georgia, Times, serif;
	width: 98%;
	padding-right: 1%;
	padding-left: 1%;
	padding-top: 1%;
	padding-bottom: 0.2%;
	margin-top: 0px;
	float: left;
	margin-bottom: 0px;
}

#nav li {
	font-size: 1.2em; 
	display: inline;
	list-style-type: none;
	margin-right: 1%;
}

#nav a {
	color: #fff;
	text-decoration: none;
	padding-right: 1%;
	padding-left: 1%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
}

#nav a:hover {
	text-shadow: 0px 0px 5px #761f31;
	text-decoration: underline;
}

#navimg {
	text-align: left;
	overflow: hidden;
	padding-bottom: 0px;
	position: relative;
	float: left;
	width: 100%;
}

#main {
	margin: 0px;
	float: left;
	clear: both;
	width: 99.8%;
	overflow: auto;
	padding: 0px;
	background: #fff;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lobster', Georgia, Times, serif;
}

#main h1 {
	color: #761f31;
}

p {
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
}

footer {
	margin-top: 1%;
	margin-bottom: 1%;
	color: #fff;
	float: left;
	clear: both;
	width: 96%;
	padding-right: 2%;
	padding-left: 2%;
}

#footerlinks {
	color: #999;
	float: left;
	width: 100%;
	text-align: center;
}

#footerlinks  ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#footerlinks li{
	display: inline;
	margin-right: 1%;
}

#footerlinks  ul a {
	color: #761f31;
	text-decoration: none;
}
#footerlinks a:hover {
	text-decoration: underline;
}

#updated {
	color: #888;
	margin-top: 1%;
	float: left;
	text-align: center;
	width: 100%;
}

/* Login and SignUp PopUp*/
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #000;
    display: none;
}

.popupContainer{
	position:absolute;
	width: 28%;
	height: auto;
	background: #fff;
	border: solid 1px #fff;
	box-shadow: 0px 0px 15px 2px #000;
}

/* Popup Styles*/
.popupHeader {
	color: #761f31;
	font-family: 'Lobster', Georgia, Times, serif;
	font-size: 1.5em;
	padding: 1%;
	width: 98%;
	border-bottom: 1px solid #ddd;
	margin-bottom: 1%;
}

.header_title {
	width: 69%;
	padding-left: 1%;
	float: left;
}

.popupHeader .modal_close {
	width: 29%;
	padding-right: 1%;
	cursor: pointer; 
	float: left;
	text-align: right;
	font-size: 0.8em;
}

.popupBody {
	padding-top: 2%;
	padding-right: 2%;
	padding-left: 2%;
	padding-bottom: 1%;
}

/* User Login Form */
.forgot_password {
	color: #000;
	text-decoration: none;
	font-family: 'Lobster', Georgia, Times, serif;
}

.forgot_password:hover {
	cursor: pointer;
}

/* User Register Form */
.user_register {
	display: none;
}

.signup {
	color: #000;
	text-decoration: none;
	font-family: 'Lobster', Georgia, Times, serif;
} 

.backbtn {
	margin-bottom: 2%;
	margin-top: 2%;
	margin-left: 1%;
}

.backbtn a {
	color: #000;
	text-decoration: none;
	font-family: 'Lobster', Georgia, Times, serif;
}


.logintable {
  text-align: left;
}

.logintable input {
  border: solid 1px #fb7142;
  outline: none;
  background: #fff;
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
  font-size: 1em;
  padding: 3px;
}

.logintable input:focus {
  box-shadow: 0px 0px 1px 1px #fb7142;
}

.logintable .sendbtn:hover {
  color: #fb7142;
  cursor: pointer;
  box-shadow: 0px 0px 1px 1px #fb7142;
}

#sendbtn:hover {
	color: #fb7142;
  cursor: pointer;
  box-shadow: 0px 0px 1px 1px #fb7142;
}

.twocol {
  width: 48%;
  padding: 1%;
  float: left;
}

@media only screen and (max-width: 1000px) {
	#nav {
		position: relative;
	}
	
	#content {
		width: 97.4%;
	}
	
	body {
		width: 97%;
	}
	
	#quicklinks ul {
		padding-right: 0px;
		padding-left:0px;
	}
	
	#nav ul {
		width: 97.8%;
	}
	
	#footerlinks {
	width: 100%;
}

	#updated {
		margin-top: 2%;
		width: 100%;
		text-align: right;
	}
	
	.popupContainer {
		width: 50%;
	}
	
	.twocol {
		width: 98%;
	}
}