<% content_for :header do %>

    <h1>About Us</h1>

<% end %>


<% content_for :header do %>
<H1>Header</H1>

/*Looping through the producs*/

<h1>Products#index</h1>
<% @products.each do |product| %>
 <%= product.Title %>
 </br>
<%end%>

<%= puts @param1 %>

<%end%> 
