<% content_for :title do %>
Product Details
<% end %>

<% content_for :header do %>
<% end %>

<% content_for :content do %>
<%= form_for OrderItem.new do %>
    <table id="contacttable">
    <tr>
      <td>Name:</td>
    </tr>
    <tr class="space">
      <td><%= text_field_tag :Quantity, :maxlength => 50, :size => 25 %></td> 
    </tr>
    <tr>
      <td>
        <%= submit_tag "Send", class: "sendbtn" %>
      </td>
    </tr>
    </table>
    <% end %>

<% end %>
